.footer {
  padding: 50px 0 20px 0;
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .footer__logo {
    width: 70px;
    height: 70px;
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 20px;

    .footer__links {
      font-family: var(--primary-font);
    }
  }

  .footer__social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

    .footer__social-media-icon {
      width: 40px;
      height: 40px;
    }
  }

  .footer__copy {
    text-align: center;
    font-family: var(--secondary-font), sans-serif;
    color: var(--secondary-color);
    font-size: 14px;
  }
}
