@use '../../../assets/styles/mixins/auth.mixin.scss' as mixin;

.registration {
  @include mixin.auth-wrapper;

  .registration__form {
    @include mixin.auth-form;

    .registration__title {
      justify-self: center;
      @include mixin.auth-title;

      @media screen and (min-width: 768px) {
        grid-column: 1 / span 2;
      }
    }

    .registration__inp {
      @include mixin.auth-input;

      @media screen and (max-width: 768px) {
        grid-column: 1 / span 2;
      }
    }

    .registration__inp-email {
      @media screen and (min-width: 768px) {
        grid-column: 1 / span 2;
      }
    }

    .registration__btn {
      @include mixin.auth-btn;
    }

    .registration__avatar {
      position: relative;
      grid-row: 6;
      margin-top: 20px;
      grid-column: 1 / span 2;
      justify-self: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;

      @media screen and (min-width: 768px) {
        grid-row: 5;
        width: 64px;
        height: 64px;
      }

      .registration__avatar-inp {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        opacity: 0;
      }
    }
  }

  .registration__btn-join {
    padding: 10px 70px;
    margin: 30px 0 20px 0;
    background-color: var(--dark-color);
    border-radius: 25px;
    transition: background-color 0.3s;
    grid-column: 1 / span 2;
    justify-self: center;
    grid-row: 7;

    @media screen and (min-width: 768px) {
      grid-row: 6;
    }

    &:hover {
      background-color: var(--secondary-color);
    }

    &:disabled {
      background-color: var(--not-accent-color);
    }
  }

  .registration__btn-return {
    grid-column: 1 / span 2;
    grid-row: 8;

    @media screen and (min-width: 768px) {
      grid-row: 7;
    }
  }

  .return {
    @include mixin.auth-return;
  }
  .field__error {
    border-bottom: 1px solid #d63031 !important;
  }
}
