.pagination {
  display: flex;
  gap: 5px;
  font-family: var(--primary-font);

  .pagination__btn {
    font-family: inherit;

    &-left {
    }
    &-right {
    }
  }

  .pagination__nav {
    font-family: inherit;
  }
}
