.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0px 15px;

  @media only screen and (min-width: 481px) {
    max-width: 768px;
  }

  @media only screen and (min-width: 769px) {
    max-width: 1200px;
  }
}
