@use '../../assets/styles/mixins/auth.mixin.scss' as mixin;

.center-details {
  padding: 40px 0;

  .center-details__center {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;

    .center-details__info {
      .center-detail__name {
        font-size: 32px;
        color: var(--secondary-color);
        margin-bottom: 20px;
      }

      .center-detail__rating {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 24px;
        color: var(--secondary-color);
        margin-bottom: 20px;
      }

      .center-detail__address,
      .center-detail__contact,
      .center-detail__email {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .center-details__open-submission {
        @include mixin.auth-return;
      }
    }
  }

  &__professionals {
    h3 {
      text-align: center;
      font-size: 28px;
      color: var(--secondary-color);
      margin-bottom: 30px;
    }
  }

  &__professionals-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
  }
}
